# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.env
venv/
.env.*
*.log

# ---- Node ----
node_modules/
dist/
.vite/

# ---- OS ----
.DS_Store
Thumbs.db

# ---- VS Code ----
.vscode/
